.root {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

.page {
  margin: 0 auto;
  max-width: 1100px;
  background-color: azure;
}


// HEADER

.header {
  
}
